<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">

	<title>POS</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" /> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Custom styles for this template -->

	<link th:href="@{css/sales.css}" rel="stylesheet">
	<link th:href="@{css/signin.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/Constant.js}"></script>

	<style>
		.form-control {
			height: 33px;
			font-size: 10px;
		}
	</style>
</head>

<body>
	<div class="container-fluid" id="menubar">
		<!-- Static navbar -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					 aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/home}">POS</a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<div class="row row-margin-unset-all">
						<div class="col-md-6">
							<ul class="nav navbar-nav">
								<li id="homeNav">
									<a th:href="@{/home}">Home</a>
								</li>
								<li id="salesNav">
									<a th:href="@{/allSales}">Sales</a>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">Expense
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a th:href="@{/expense}">Add Daily Expense</a>
										</li>
										<li>
											<a th:href="@{/expenses}">All Expenses</a>
										</li>
									</ul>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a th:href="@{/getInventory}">Product Inventory</a>
										</li>
										<li>
											<a th:href="@{/addProduct}">Add Inventory</a>
										</li>
										<li>
											<a th:href="@{/uploadFile}">File Upload</a>
										</li>
										<li>
											<a th:href="@{/download.xls}">Download Inventory List</a>
										</li>
									</ul>
								</li>
								<li id="registerUser">
									<a th:href="@{/registration}">Register User</a>
								</li>
							</ul>
						</div>
						<div class="col-md-5">

							<ul class="nav navbar-nav navbar-right">
								<li>
									<a th:utext="${userinfo}" style="padding-top: 15px" th:href="@{/profile}"> </a>
								</li>
								<li>
									<a th:href="@{/logout}">Logout</a>
								</li>
							</ul>
						</div>
					</div>
					<!--/.nav-collapse -->
				</div>
				<!--/.container-fluid -->
		</nav>
		</div>
		<!-- End navbar div -->
		<!-- /container -->

		<div class="container-fluid">

			<div class="form-group">
				<div class="container">
					Barcode: <input type="text" id="bar" onkeyup="getDetailsBar()"><br>
				</div>
				<div class="container-fluid" id="newlink"></div>
			</div>
			<!-- <div class="container-fluid">
				<button class="btn btn-defualt" onclick="addNewField()">
					<i class="fa fa-plus" aria-hidden="true"></i> Add Item</button>
			</div> -->
		</div>

		<!-- <div class="container-fluid">
			<button class="btn btn-defualt" onclick="addNewField()">Add new item</button>
		</div> -->

		<div class="container" style="margin-left:53px">

			<h1 id="netAmount">Total Amount</h1>
			<div class="form-row sales-total">
				<div class="form-group col-md-3 sales-total">
					<label>Paid</label>
					<input type="number" class="form-control" style="height: 55px; font-size: 40px;" id="paid" onKeyUp="calculateReturn()">
				</div>

				<div class="form-group col-md-3 sales-total">
					<label for="rate">Return</label>
					<input type="number" class="form-control" style="height: 55px; font-size: 40px;" id="returnAmount" readonly>
				</div>
			</div>
		</div>

		<div class="container print-invoice-button" style="float:right;">
			<button class="btn btn-default" style=" background-color: green; font-size: 40px; color: white" onclick="printInvoice()">
				<i class="fa fa-print" aria-hidden="true"></i> Print Invoice</button>
		</div>


		<!-- Modal Success-->
		<div class="modal fade" id="modal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Message</h4>
					</div>
					<div class="modal-body">
						<p id="modalParagraph"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadSalesPage()">Close</button>
					</div>
				</div>

			</div>
		</div>

		<!-- Modal No Items added-->
		<div class="modal fade" id="noItemModal" role="dialog">
				<div class="modal-dialog">
	
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Message</h4>
						</div>
						<div class="modal-body">
							<p> You have no line item added</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
	
				</div>
			</div>

		<!-- Delete Modal-->
		<div class="modal fade" id="deleteModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Message</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete this item?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" id="btn-confirm" onclick="onConfirm()">Confirm</button>
						<button type="button" class="btn btn-default" data-dismiss="modal" id="btn-close">Close</button>
					</div>
				</div>

			</div>
		</div>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/sales/sales.js}"></script>

</body>

</html>