<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">

<title>POS</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" /> -->

<!-- Custom styles for this template -->
<link th:href="@{css/signin.css}" rel="stylesheet">
<link th:href="@{css/addProduct.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/Constant.js}"></script>
</head>

<body>
	<div th:replace="sales/sales :: #menubar"></div>

	<div class="container">

		<div class="form-group">

			<div class="container" id="newlink"></div>
		</div>

	</div>

	<div class="container">
		<button class="btn btn-defualt" onclick="addNewField()">Add
			new item</button>
		<button class="btn btn-defualt" onclick="makeList()">Submit</button>
	</div>

		 <!-- Modal Success-->
		 <div class="modal fade" id="modal" role="dialog">
			<div class="modal-dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Message</h4>
				</div>
				<div class="modal-body">
				  <p id="modalParagraph"></p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadAddProductPage()">Close</button>
				</div>
			  </div>
			  
			</div>
		  </div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/admin/addProduct.js}"></script>

</body>

</html>