<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">

	<title>POS</title>

	<!-- Bootstrap core CSS -->
	<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

	<script type="text/javascript" th:src="@{/js/Constant.js}"></script>

	<!-- Custom styles for this template -->
	<link th:href="@{css/signin.css}" rel="stylesheet">

</head>

<body>
	<!-- container for table starts -->
	<div th:replace="sales/sales :: #menubar"></div>
	<div class="container">

		<!-- card container Starts -->
		<div class="card">

			<!-- card-block container starts -->
			<div class="card-block">

				<!-- table class starts -->
				<table class="tabe table-hover" id="salesTable">

					<!-- thead starts -->
					<thead>
						<tr>
							<th>Invoice No</th>
							<th>Date</th>
							<th>Article No</th>
							<th>Barcode</th>
							<th>Quantity</th>s
							<th>Total Amount</th>
							<th>Sold By</th>
						</tr>
					</thead>
					<!-- thead ends -->

					<!-- tbody starts -->
					<tbody>
						<tr th:each="sale : ${salesList}">
							<td th:text="${sale.invoiceNo}"></td>
							<td th:text="${sale.date}"></td>
							<td th:text="${sale.articleNo}"></td>
							<td th:text="${sale.barcode}"></td>
							<td th:text="${sale.quantity}"></td>
							<td th:text="${sale.totalAmount}"></td>
							<td th:text="${sale.soldByName}"></td>
					</tbody>
					<!-- tbody ends -->


				</table>
				<!-- table class ends -->

			</div>
			<!-- card-block container ends -->
		</div>
		<!-- card container Starts -->

	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- <script type="text/javascript" th:src="@{/js/admin/products.js}"></script> -->
	<script type="text/javascript">

		$(document).ready(function () {
			$('#salesTable').DataTable({
				"order": [[1, "desc"]]
			});
		});
		window.onload = function () {

			document.getElementById("salesNav").classList.add('active');
		}
	</script>

</body>

</html>