<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>BanExEx</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" />


<script type="text/javascript" th:src="@{/js/Constant.js}"></script>
<!-- Custom styles for this template -->
<link th:href="@{css/signin}" rel="stylesheet">

</head>

<body>
	<div th:replace="admin/home_v2 :: #menubar"></div>
	<!-- End navbar div -->
	<!-- /container -->

	<div class="container-fluid">
        <h1>Hurray Your Password has been changed Successfully!!!</h1>
        <button type="submit" class="btn btn-primary mb-2" id="returnHomeBtn" th:href="@{/home}" >Return Home</button>
	</div>

</body>
</html>
