<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">

	<title>BanExEx</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" />

	<!-- Custom styles for this template -->
	<link th:href="@{css/signin}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/Constant.js}"></script>
</head>

<body>
	<div th:replace="admin/home_v2 :: #menubar"></div>
	<!-- End navbar div -->
	<!-- /container -->

	<div class="container-fluid">
		<div class="form-group">
			<form>
				<div class="form-group row">

					<div class="col-md-4">
						<label>Old Password</label>
						<input type="password" class="form-control" id="oldPassword" placeholder="Old Password">
					</div>
					<div class="col-md-4">
						<label>New Password</label>
						<input type="password" class="form-control" id="newPassword" placeholder="New Password">
					</div>
					<div class="col-md-4">
						<label style="display: block; color: transparent">.</label>
						<button type="submit" class="btn btn-primary mb-2" id="updatePasswordBtn">Confirm Password</button>
					</div>
				</div>
			</form>
			<h1 id="success" style="display: none">Password change success</h1>
		</div>
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/utility.js}"></script>
	<script type="text/javascript" th:src="@{/js/user/updatePassword.js}"></script>
</body>

</html>