body {
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.navbar {
  margin-bottom: 20px;
}

.container-fluid {
     padding-right: 1px;
     padding-left: 2px; 
     margin-right: auto; 
     margin-left: auto; 
}