.sales-form-group{
    margin-left: -100px;
}

.sales-form-control{
    height: 43px;
}

.sales-total{
    height: 55px;
    font-size: 40px;
}

.print-invoice-button{

    margin-top: 63px;
    margin-left: 66px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}