<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>POS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <!-- Custom styles for this template -->
    <link th:href="@{css/signin.css}" rel="stylesheet">

</head>

<body>
    <div th:replace="sales/sales :: #menubar"></div>
    <div class="container-fluid">
        <div class="form-group" id="recieptDiv" commandName="order">
            <div class="container">

                <div class="form-row">
                    <h3 id="headerId"></h3>
                    <div class="form-group col-md-6">
                        <label>Today's Cash</label>
                        <input type="text" class="form-control" id="cash" value="Day's Sell" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Amount</label>
                        <input type="number" class="form-control" id="cashValue" th:value="${totalSale}" readonly/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Bank Deposit</label>
                        <input type="text" class="form-control" id="deposit">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Amount</label>
                        <input type="number" class="form-control" id="depositValue">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Field 1</label>
                        <input type="text" class="form-control" id="field1">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Field 1 Amount</label>
                        <input type="number" class="form-control" id="field1Value">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Field 2</label>
                        <input type="text" class="form-control" id="field2">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Field 2 Amount</label>
                        <input type="number" class="form-control" id="field2Value">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Field 3</label>
                        <input type="text" class="form-control" id="field3">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="vatPercent">Field 3 Amount</label>
                        <input type="number" class="form-control" id="field3Value">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Field 4</label>
                        <input type="text" class="form-control" id="field4">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Field 4 Amount</label>
                        <input type="number" class="form-control" id="field4Value">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Field 5</label>
                        <input type="text" class="form-control" id="field5">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Field 5 Amount</label>
                        <input type="number" class="form-control" id="field5Amount">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Field 6</label>
                        <input type="text" class="form-control" id="field6">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Field 6 Amount</label>
                        <input type="number" class="form-control" id="field6Amount">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="receiverName">Field 7</label>
                        <input type="text" class="form-control" id="field7">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Field 7 Amount</label>
                        <input type="number" class="form-control" id="field7Amount">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Cash</label>
                        <input type="text" id="cashInHand" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="destinationCountry">Cash Amount</label>
                        <input type="number" class="form-control" id="cashInHandAmount">
                    </div>
                </div>
                <!-- </fieldset> -->
                <button type="submit" class="btn btn-primary" onclick="submitExpense()">Submit Expense</button>
                <!-- 	</form> -->
            </div>

        </div>

        <!-- Modal Success-->
        <div class="modal fade" id="orderSaveSuccessModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>Order Created Succesfully!!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script>

        window.onload = function () {
            var d = new Date();

            var date = d.getDate();
            var month = d.getMonth() + 1;
            var year = d.getFullYear();
            document.getElementById("headerId").innerHTML = "Expense for: " + date + "-" + month + "-" + year;
        }
        function submitExpense() {
            var list = [];

            var daySell = {
                chargeHead: document.getElementById("cash").value,
                conditionValue: document.getElementById("cashValue").value
            };
            list.push(daySell);

            var deposit = {
                chargeHead: document.getElementById("deposit").value,
                conditionValue: document.getElementById("depositValue").value
            }
            list.push(deposit);

            if (document.getElementById("field1").value !== "") {
                var field1 = {
                    chargeHead: document.getElementById("field1").value,
                    conditionValue: document.getElementById("field1Value").value
                }
                list.push(field1);
            }

            if (document.getElementById("field2").value !== "") {
                var field2 = {
                    chargeHead: document.getElementById("field2").value,
                    conditionValue: document.getElementById("field2Value").value
                }
                list.push(field2);
            }

            if (document.getElementById("field3").value !== "") {
                var field3 = {
                    chargeHead: document.getElementById("field3").value,
                    conditionValue: document.getElementById("field3Value").value
                }
                list.push(field3);
            }

            if (document.getElementById("field4").value !== "") {
                var field4 = {
                    chargeHead: document.getElementById("field4").value,
                    conditionValue: document.getElementById("field4Value").value
                }
                list.push(field4);
            }

            if (document.getElementById("field5").value !== "") {
                var field5 = {
                    chargeHead: document.getElementById("field5").value,
                    conditionValue: document.getElementById("field5Value").value
                }
                list.push(field5);
            }

            if (document.getElementById("field6").value !== "") {
                var field6 = {
                    chargeHead: document.getElementById("field6").value,
                    conditionValue: document.getElementById("field6Value").value
                }
                list.push(field6);
            }

            if (document.getElementById("field7").value !== "") {
                var field7 = {
                    chargeHead: document.getElementById("field7").value,
                    conditionValue: document.getElementById("field7Value").value
                }
                list.push(field7);
            }


            var cashInHand = {
                chargeHead: document.getElementById("cashInHand").value,
                conditionValue: document.getElementById("cashInHandAmount").value
            }
            list.push(cashInHand);

            var data = JSON.stringify(list);

            var searchResult = $.ajax({
                type: 'POST',
                url: "http://localhost:4200/POS/expense",
                data: data,
                contentType: "application/json",
                success: function (resultData, textStatus, xhr) {
                    console.log("Successfully Sent");
                    //  window.location = xhr.getResponseHeader("Location");
                    if (xhr.status === 200) {

                    }
                },
                error: function (resultData, textStatus, xhr) {

                    if (textStatus === "error" || resultData === 400) {
                        $("#orderSaveUnsuccessModal").modal();
                    }
                },

                failure: function (resultData) {
                    console.log("Error Occured");
                }
            });

        }
    </script>
</body>

</html>