<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>POS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <!-- Custom styles for this template -->
    <link th:href="@{css/signin.css}" rel="stylesheet">

</head>

<body>
    <div th:replace="sales/sales :: #menubar"></div>
    <div class="container-fluid">

        <h1>No Sales Yet!!</h1>


    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>

</html>